@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Krona+One);
@import url(http://fonts.googleapis.com/css?family=Raleway:900,400);

* {
  margin: 0;
  font-family: "Roboto";
  font-weight: 900;
  /*font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*font-family: "Krona One", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

html, body {
  height: 100%;
  background-color: #0E0E0E;
}


.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
  min-height: 180px; /* .push must be the same height as .footer */
}


/* FAQ Section styling */



/*Adding spaces and paddings*/
.faq-section{
        margin: auto;
        padding: auto;
        position: relative;
}

/* Hiding paragraphs */
.faq-section p{
        display: none;
}

/*Hiding checkboxes */
.faq-section input{
        position: absolute;
        z-index: 2;
        cursor: pointer;
        opacity: 0;
        display: none\9;  /* IE8 and below */
        margin: 0;
        width: 100%;
        height: 36px;
}

/* Show all paragraphs when check box is checked i.e. drop down is accessed*/
.faq-section input[type=checkbox]:checked~p{
        display: block;
        color: #FFFFFF;
        font-size: 1.2em;
        /* restore clipping defaults */
        text-overflow: clip;
        white-space: normal;
        overflow: visible;
}

/* Label Styling */
.faq-section label{
        font-size: 1.2em;
        background: #eee;
        display: block;
        position: relative;
        height: 45px;
        padding: 10px 10px;
        font-weight: bold;
        border: 1px solid #ddd;
        border-left: 3px solid #888;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        transition: all .15s ease-out;
}

/*Remove text selection when toggle-ing*/
.faq-section label::selection{
        background: none;
}

.faq-section label:hover{
        background: #FFB445;
}

/* Label Styling with checkbox checked */
.faq-section input[type=checkbox]:checked~label{
        border-color: #DB841F;
        background: #FFB445;
        background-image: linear-gradient(to bottom, #DB841F, #FFB445);
        box-shadow: 0 0 1px rgba(0,0,0,.4);
}

/*Label's arrow - default state */
.faq-section label::before{
        content: '';
        position: absolute;
        right: 4px;
        top: 50%;
        margin-top: -6px;
        border: 6px solid transparent;
        border-left-color: inherit;
}

/*Update the right arrow*/
.faq-section input[type=checkbox]:checked~label::before{
        border: 6px solid transparent;
        border-top-color: inherit;
        margin-top: -3px;
        right: 10px;
}


/* End of FAQ Section Styling */


/*About Section Styling*/


#mainwrapper {
  font: 10pt normal Arial, sans-serif;
  height: auto;
  margin: 80px auto 0 auto;
  text-align: right;
  width: auto;
}

#mainwrapper .box {
    border: 5px solid #fff;
    cursor: pointer;
    height: 235px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: 300px;
    box-shadow: 1px 1px 1px 1px #ccc;
}

#mainwrapper .box img {
    position: absolute;
    left: 0;
    transition: all 300ms ease-out;
}

/*#mainwrapper .box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 100;
    transition: all 300ms ease-out;
    left: 0;
}*/

.caption {
    text-align: justify;
}

#mainwrapper .box .full-caption {
    width: 300px;
    height: 235px;
    top: -240px;
    text-align: left;
    padding: 15px;
}

#mainwrapper .box:hover .full-caption {

    transform: translateY(100%);
}


/* End of About section styling */

/* Start of of Training section styling */


.navbar {
    margin-bottom: 0px;
    border-radius: 0;
}

.navbar-default.transparent {
    background-color: transparent;
}

.slide{
    min-height: 10em;
}

.slide1, .slide2, .slide3, .static_slide1{
    /*min-height: 100%;*/ /* Must have a height or min-height set due to use of background images */
    background-size: cover;
    background-position: center center;
}

.slide1 {
    background-image: url(../imgs/scenic_bikes_near_mountain.jpg);
    opacity: .7;
    min-height: 20em;
}

.slide2 {
    background-image: url(../imgs/sportbike_fadded_image.jpg);
}

.slide3 {
    background-image: url(../imgs/motorcycle_turning_on_road.jpg);
}

.static_slide1 {
    background-image: url(../imgs/racing_white_sportbike.jpg);
}

/* Carousel Fade Effect */
.carousel.carousel-fade .item {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: .5;
    width: 100%;
    height: 35%;
}
.carousel.carousel-fade .active.item {
    opacity: 1;
    height: 100%;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* Carousel Overlay */
.carousel-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

/****************************/
/*                          */
/*Styles below just for Demo*/
/*                          */
/****************************/
/*.navbar-default .navbar-brand {
    color: rgba(0,180,0,1);
}
.navbar-default .navbar-brand:hover {
    color: rgba(0,180,0,1);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: rgba(0,180,0,.5);

}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
    border-radius: 4px;
    padding: 10px 15px;
    margin: 5px 0px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: rgba(0,180,0,.25);
}
.navbar-collapse.in {
    background-color: rgba(255,255,255,.5);
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(0,180,0,.5);
}
.navbar-toggle {
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    color: #fff;
}*/
.carousel-overlay, .jumboTitle {
    color: #000 !important;
}

.carousel-overlay h1 {
    font-size: 3em;
    font-weight: bolder;
}
.carousel-overlay .btn {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid #398439;
    border-radius: 6px;
}
.carousel-overlay .btn-lg {
    font-size: 0.85em;
    padding: 10px 20px;
}

.purple {
    color: #F1C3FF !important;
}

.circles {
    margin-top: 20px;
    background-color: #398439;
    color: #fff;
    border-radius: 50%;
    line-height: 3em;
    width: 3em;
    height: 3em;
}
.featurette-image {
    display: block;
    margin: auto;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 250px; /* this needs to be bigger than footer height*/
}

.footer {
  color: #fff;
  background-color: #0E0E0E;
  padding: 10px 0 10px 0;
  bottom: 0;
}

@media (min-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
}

.wwwFont1 {
    font-family: "Roboto";
}

.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center
}

.carousel-inner {
    height:100%;
}

.jumbotron {
    font-size: 2em;
    margin-bottom: 0;
    height: 80%;    
}

.jumbopad {
    padding-top: 10%;
}

.text-center {
    /*position: absolute;*/
}

@media (max-width: 993px) {
    .lead {
        display: none;
    }
}

.lead {
    color: #000;
    font-weight: 800 !important;
    
}

.lead2 {
    color: #F2E8E8;
    font-weight: 800 !important;
    
}

.cast {
    font-size: 1.0em;
    color: #FFFFFF;
    font-weight: 500;
    
}
/*@media (min-width: 750px) {
    .lead {
        display: block;
    }
}*/

.phone {
    /*background-color: #786B6B;*/
    /*opacity: 0.5;*/
    /*height: 100%;*/
    /*bottom: 0;*/
    /*position: absolute;*/
    top: 0;
    /*max-height: 2em;*/
    /*min-width: 230px;*/
    /*text-align: center;*/
    /*border-radius: 0.5em;*/
    color: #fff;
    font-size: 1.3em;
    /*width: 15em;*/
    /*font-stretch: wider;*/
}

.phone>a {
    color: #000;
    font-weight: bolder;
    text-decoration: none;
}

.divHeader {
    display: table-cell;
    top: -4px;
    left: 0;
    width: 20em;
    height: 51px;
    color: #fff;
    padding: 7px;
    border-top-left-radius: 1em 1em;
    border-top-right-radius:  1em 1em;
    text-transform: uppercase;
    width: 28em;
}


.thumbnail-has-header {
    padding-top: 0;
    width: 100%;
}

.thumbnail>h2 {
    margin-top: 0;
    padding-bottom: 5px;
    width: 100%;

}

.purple-bkgrnd {
    background-color: #6058C0;
    border-bottom: 2px solid #372265 !important;
    border-right: 2px solid #372265 !important;
    border-left: 2px solid #8E6FDD !important;
}

.orange-bkgrnd {
    background-color: #DB841F;
    border-bottom: 1px solid #C56A22 !important;
    border-right: 1px solid #C56A22 !important;
    border-left: 1px solid #F2BD2E !important;
    color: #fff;
}

a.purple-bkgrnd:hover {
    background-color: #504C7B;
    border-bottom: 2px solid #8E6FDD !important;
    border-right: 2px solid #8E6FDD !important;
    border-left: 2px solid #372265 !important;
}

a.orange-bkgrnd:hover {
    background-color: #C2531D;
    border-bottom: 1px solid #F2BD2E !important;
    border-right: 1px solid #F2BD2E !important;
    border-left: 1px solid #C56A22 !important;
    color: #fff;
}

.pink-bkgrnd {
    background-color: #C513A1;
    border-bottom: 2px solid #843F75 !important;
    border-right: 2px solid #843F75 !important;
    border-left: 2px solid #DA70C4 !important;
}

a.pink-bkgrnd:hover {
    background-color: #891D73;
    border-bottom: 2px solid #DA70C4 !important;
    border-right: 2px solid #DA70C4 !important;
    border-left: 2px solid #843F75 !important;
}

.green-bkgrnd {
    background-color: #25AA36;
    border-bottom: 4px solid #1D7528 !important;
    border-right: 4px solid #1D7528 !important;
    border-left: 2px solid #40E055 !important;
}

.circle-bkgrnd {
    border-radius: 50%;
    border: 3px solid #CAC2C2;
    width: 1.7em;
    height: 1.7em;
    padding-top: 0.24em;
    text-shadow: 2px 2px 6px #000;
}

a:link a:visited a:hover a:active {
    color: #fff;
}

.phone-footer {
    color: white;
}

.phone-footer:hover {
    color:  #DB841F !important;
    text-decoration: none;
}

.phone-footer:visited {
    color: #DB841F !important;
}

.phone-footer:active {
    color: #DB841F !important;
}

.text-shadow {
    text-shadow: 2px 2px 4px #000;
}

.navbar-nav>li>a{
    color: #fff !important;
    font-size: 1.1em;
    /*color: #aefaef;*/
}

.navbar-nav>li>a:hover{
    color: #DB841F !important;
    font-size: 1.1em;
}

.lightbackground {
    /*background-color: rgba(0, 0, 0, 0.3);*/
    border-radius: 1em;
    /*width: 70em;*/
}

.carousel {
    background-color: black;
    min-height: 15em;
}

.carousel-control.right, .carousel-control.left{
    background-image: none;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #E37F17;

}

.item-body {
    color: #fff;
    /*background-color: green;*/
    /*width: 70% !important;*/
    /*text-align: center;*/
    height: 90%;
    top: 0;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 5em;
}

.item-container {
    background-image: url("../imgs/asphalt-bkgrnd.jpg");
    /*background-color: red;*/
    background-size: cover;
    background-position: center center;
    /*text-align: center;*/
    padding-bottom: 3em;
    min-height: 31em;

}

.textpop {
    color: #DB841F;
}

.dropdown-menu {
    background-color: #4E4E4E;
    color: #fff;
}

.dropdown-menu>li>a{
    color: #fff;
}

.toppage {
    background: url(../imgs/guy_on_motorcycle.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.75;
    height: 80%;
}

.standard-jumbotron {
    background-size: cover;
    opacity: 0.75;
    height: 80%;
}

.aboutpage {
    background: url(../imgs/2215746619_2ee4fe635f_o.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.75;
    height: 80%;
}

.giftcerts-page {
    background: url(../imgs/16273464919_eb98722dfa_k.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.75;
    height: 80%;
}

.trainingpage {
    background: url(../imgs/12458369475_13eda62d51_o.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.75;
    height: 80%;
}

.schedulepage {
    background: url(../imgs/2216540928_9e6b81b8ae_o.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.75;
    height: 80%;
}

.contactpage {
    background: url(../imgs/14172076541_e142d24677_k.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.75;
    height: 80%;
}

.faqpage {
    background: url(../imgs/2216540202_9c0d882050_o.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.75;
    height: 80%;
}

.linkspage {
    background: url(../imgs/14082449743_ea19cd6430_k.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.75;
    height: 80%;
}

.top-header {
    width:100%;
    background-color: #222;
}

.middlemap {
    height: 30em;
    margin-top: 1em;
}

.map {
    padding-right: 2em;
    color: #fff;
    background-image: url('../imgs/googleMap.png');
    background-size: cover;
    background-position: top center;
    min-height: 30em;
}

.contactInfo {
    color: #fff;
    padding-left: 1.5em;
    height: 100%;
}

.navigationText {
    margin: 1em 0em;
    height: 33%;
}

.navIcons {
    font-size: 3em;
    color: #E37F17;
    padding-right: 1em;
}

.navaddress {
    font-size: 2em;
    display: inline-block;
}

.vcenter {
    display: inline-block;   
    vertical-align: middle;
    float: none;
}

.adjustLeft {
    padding-left: 29%;
    padding-right: 21%;
    background: url('../imgs/transparent_background.png') no-repeat center;
    opacity: .8;
}

.fadedbkgrnd {
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 4em;
    /* position: absolute; */
    max-width: 17em;
    border: 3px solid;
    border-color: #fff;
    border-radius: 1em;
    /*border-width: 2em;*/
}

.header {
    color: #00000;
    font-size: 40px;
    padding: 10px;
}

.contactForm  {
    font-size: 38px;
    color: #00000;
}

.cta-container {
    position: absolute;
    z-index: 2;
    padding-left: 0.8em;
}

.container-fluid {
    background-color: #333;
}

.img-circle {
    margin-top: 30px;
    width: 200px;
    height: 200px;
}

.well {
    background-color: #D8CFA8;
}

/*@media screen and (max-width: 560px) {
    .carousl-title {
        font-size: 1.5em;
    }

    .item-container {
        min-height: 35em;
    }
}

@media screen and (max-width: 1025px) {
    .lead {
        display: none;
    }
    
    .fadedbkgrnd {
        margin-left: 1em;
    }
}

@media screen and (max-width: 1200px) {
    .adjustLeft {
        padding-left: 25%;
    }
}

@media screen and (max-width: 1099px) {
    .adjustLeft  {
        padding-left: 25%;
        padding-left: 20%;
    }

    .phone {
        font-size: 1em;
        text-align: center;
    }

    .cta-container {
        padding-left: 0;
    }

    .btn-lg {
        padding: 4px;
        font-size: 14px;
    }
}*/